version: '3.8'

services:
  postgres:
    image: postgres:15-alpine
    container_name: my_postgres
    restart: always
    environment: # use env values
      POSTGRES_USER: myuser
      POSTGRES_PASSWORD: mypassword
      POSTGRES_DB: mydatabase
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
