version: '3.8'

services:
  postgres:
    image: postgres:15-alpine
    container_name: my_postgres
    restart: always
    env_file:
      - setup.env
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  api:
    image: node:20-alpine
    container_name: user_api
    working_dir: /app
    volumes:
      - ./:/app
    env_file:
      - setup.env
    environment:
      # inside docker network, connect to the postgres service by name
      DB_HOST: postgres
      DB_PORT: "5432"
    command: ["npm", "start"]
    ports:
      - "3000:3000"
    depends_on:
      - postgres

volumes:
  postgres_data:
